*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    
    

    
}
.img-container{
    display: flex;
    justify-content: center;
}
.img-icons{
    width: 14px;
    height: 14px;
}

.profile-img{
    border-radius: 50%;
    display: flex;
    
}
.parent-container{
    display: flex;
    
    height: 1265px;
    width: 987px;
   
}
.container-left{
    background-color: #E1D8CF;
    
    flex-shrink: 2
    
    
    
    
}
.container-right{
    border: 1px solid black;
    
    
   
    
}
.icons{
    
}

.header-name{
    color: white;
    background-color:rgb(55,55,64) ;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
    
}
.header-name h1{
    color: #E1D8CF;
    
    
}
.header-name p{
    color: #E1D8CF;
}
.header-name a{
    color: #E1D8CF;
}
.projects{
    background-color: white;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    
    
}
 .project-title {
    background-color: rgb(55,55,64);
    color: #E1D8CF;
    
    
    
}
.project-item  h1{
    display: flex;
    font-size: 20px;

    
    
    
}
.education-title{
    background-color: rgb(55,55,64);
}
.education-title h1{
    color:#E1D8CF;
    font-size: 20px;
    display: flex;

    
}
.education-item{
    display: flex;
    
}
.personal-title h1{
    background-color:rgb(55,55,64);
    color:#E1D8CF;
    font-size: 20px;
    
}
.personal-item{
    display: flex;
    justify-content: center;
    
    
}
.personal-info {
    display: flex;
    margin: 0 auto;
    
}
.achieve-title h1{
    background-color:rgb(55,55,64);
    color:#E1D8CF;
    font-size: 20px;
}
.achieve-item{
    display: flex;
    justify-content: center;
}

.technical-title h1{
    background-color:rgb(55,55,64);
    color:#E1D8CF;
    font-size: 20px;
}
.technical-item{
    display:flex;
    justify-content: center;

}


